.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  border-bottom: 1px solid var(--foreground);
  padding-block: 0.25rem;
}

.container .noScrolled {
  height: var(--header-height);
}

.activeLink {
  color: var(--primary-color);
}

.headImage {
  transition: all 0.3s ease-in-out;
  object-fit: contain;
  height: 96px;
}

.scrolled .headImageContainer,
.scrolled .headImage .container {
  transition: all 0.3s ease-in-out;
}

.scrolled .headImage {
  width: 60px !important;
  height: 56px !important;
}

@media (max-width: 768px) {
  .container {
    display: none;
  }
}
