.header {
  background-color: #fff;
  padding: 0.5rem 1rem;
  position: relative;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
}

.navGroup {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: center;
  gap: 2rem;
  padding-inline: 1rem;
  font-weight: 600;
}

.logo {
  height: 120px;
  width: auto;
}

.burgerButton {
  display: none;
}

.headerBar {
  width: 100%;
  background: var(--foreground);
  display: block;
}

.headerBarUp {
  height: 1rem;
}
.headerBarDown {
  height: 0.25rem;
}

.mobileMenu {
  display: none;
  padding: 1.5rem;
}

.active {
  display: flex;
}

.mobileMenu ul {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  font-size: small;
  font-weight: 600;
}

.icon {
  width: 20px;
  height: 20px;
}

.logoMobile {
  display: none;
}

@media (max-width: 768px) {
  .burgerButton {
    display: block;
    position: absolute;
  }

  .mobileMenu.active {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    width: 100%;
  }

  .headerBar {
    display: none;
  }

  .navGroup {
    display: none;
  }

  .logoMobile {
    display: block;
    height: 88px;
    width: auto;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
  }
}
