.header {
  background-color: #fff;
  padding: 0.5rem 1rem;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  width: 100%;
}

.navMobile {
  display: none;
}

.navDesktop {
  display: block;
}

.navGroup {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: center;
  gap: 2rem;
  font-weight: 600;
  font-family: var(--font-crimson), Georgia, serif;
  padding: 1rem;
}

.containerHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0rem 0rem 1rem 0rem;
  align-items: center;
}

.containerTitleAndNav {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.rightElement {
  font-size: 4rem;
  width: 10rem;
  max-width: 10rem;
  display: flex;
  justify-content: end;
}

.logo {
  height: 100%;
  width: 10rem;
}

.burgerButton {
  display: none;
}

.headerBar {
  width: 100%;
  background: var(--foreground);
  display: block;
}

.headerBarUp {
  height: 0.05rem;
}
.headerBarDown {
  margin: 0.1rem;
  height: 0.05rem;
}

.headImage {
  object-fit: contain;
}

.mobileMenu {
  display: none;
}

.active {
  display: flex;
}

.mobileMenu ul {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  font-size: small;
  font-weight: 600;
}

.icon {
  width: 20px;
  height: 20px;
}

.logoMobile {
  display: none;
}

@media (max-width: 768px) {
  .burgerButton {
    display: block;
    position: absolute;
  }

  .navMobile {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
  }

  .mobileMenu.active {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    width: 100%;
  }

  .headerBar {
    display: none;
  }

  .navGroup {
    display: none;
  }

  .logoMobile {
    display: block;
    height: 88px;
    width: auto;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
  }

  .navDesktop {
    display: none;
  }
}

/* Add padding to the body to compensate for fixed header */
.headerSpacer {
  height: 250px; /* Ajustez cette valeur en fonction de la hauteur de votre header */
}
