.container {
  width: 100%;
  padding: 2rem;
  text-align: center;
}

.content {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-self: center;
  gap: 2rem;
}

.iconsContainer {
  display: flex;
  gap: 2rem;
  justify-content: center;
}

.footerContent {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.iconsAndTitleContainer {
  display: flex;
  gap: 0.5rem;
  justify-content: center;
  flex-direction: column;
}

.iconLink {
  color: var(--foreground);
  text-decoration: none;
  transition: all 0.2s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
}

.iconLink:hover {
  transform: scale(1.1);
  opacity: 0.8;
}

.icon {
  width: 24px;
  height: 24px;
}

.headImage {
  object-fit: contain;
}

.bottom {
  margin-top: 2rem;
  padding-top: 1rem;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: start;
  font-weight: 600;
  gap: 0.5rem;
}

.copyright {
  font-size: small;
}

.legalLink {
  font-size: small;
  text-decoration: none;
}

@media (max-width: 768px) {
  .container {
    padding: 1.5rem;
  }

  .iconsContainer {
    gap: 1.5rem;
  }
  .content {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  .icon {
    width: 20px;
    height: 20px;
  }

  .bottom {
    margin-top: 1.5rem;
    padding-top: 0.75rem;
  }

  .copyright,
  .legalLink {
    font-size: 0.8rem;
  }
}

.footer {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.dividerOrnament {
  height: 60px;
  width: auto;
  margin-bottom: 1rem;
}
