.container {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}

.polaroidContainer {
  background-color: white;
  padding: 1rem 1rem 2rem;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  position: relative;
  width: 120px;
  height: 140px;
  overflow: hidden;
}

.polaroidContainer:hover {
  transform: scale(1.01);
  z-index: 1;
}

.actorImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top;
  position: relative;
}

.name {
  font-size: 8px;
  font-style: italic;
  transition: color 0.3s ease;
  justify-self: end;
  padding-top: 0.5rem;
}

.polaroidContainer:hover .name {
  color: var(--primary-color);
}

@media (max-width: 768px) {
  .container {
    display: none;
  }
}
