.container {
  padding: 2rem 4rem;
  max-width: 1200px;
  margin: 0 auto;
}

.container h1 {
  margin-bottom: 3rem;
  text-align: center;
}

.actorsGrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 2rem;
  justify-items: center;
}

.actorsGrid > div {
  cursor: pointer;
}

@media (max-width: 768px) {
  .container {
    padding: 1rem 2rem;
  }

  .container h1 {
    margin-bottom: 2rem;
  }

  .actorsGrid {
    gap: 1rem;
  }
}
