.page h1 {
  padding-block: 1rem;
}

.imgPortrait {
  height: 100%;
  width: auto;
  max-height: 750px;
}

.imageCaption {
  font-style: italic;
  font-size: small;
  text-align: center;
  margin-top: 2rem;
}

.artistInfo {
  font-size: small;
  text-align: center;
  margin: 0;
  color: var(--primary-color);
}

.imgLogoSldb {
  width: 100%;
  height: auto;
  max-width: 200px;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.rightContent {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
}

.tarifEtGayLee {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  align-items: flex-end;
}

.comedienPhotos {
  display: grid;
  align-items: center;
  justify-self: center;
  grid-template-columns: repeat(auto-fill, 90px);
  gap: 1rem;
  font-size: small;
  max-width: 100%;
}

@media (max-width: 1200px) {
  .tarifEtGayLee {
    justify-content: center;
  }
  .artistInfo {
    display: none;
  }
  .comedienPhotos {
    display: none;
  }

  .imgPortrait {
    max-width: 100%;
    height: auto;
    margin: 0 auto 2rem;
  }

  .imgLogoSldb {
    max-width: 250px;
  }

  .page {
    padding-inline: 1rem;
  }

  .content {
    padding: 0;
  }

  .page h1 {
    font-size: x-large;
  }

  .content {
    display: flex;
    flex-direction: column;
  }

  .rightContent {
    align-items: center;
    gap: 0.5rem;
  }

  .imageCaption {
    margin-top: 0rem;
  }
}
