.page {
  font-family: var(--font-libre-baskerville);
  margin: 0;
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

.main {
  background-color: darkturquoise;
}

.footer {
  background-color: red;
}
