.main-banner .date {
    font-family: "Times New Roman";
    font-style: bold;
    color: #cc3852;
  }

.main-banner .heure {
    color: #cc3852;
    font-style: bold;
    font-family: "Times New Roman";
    font-size: 0.9em; /* Réduction de la taille pour l'heure */
}

.main-banner .place {
    font-family: "Times New Roman";
    color: #024886;
}

.main-banner .auteur {
    color: green;
    font-weight: bold;
    text-transform: uppercase; /* Majuscules forcées */
}

.main-banner .comedien {
    font-style: italic;
    color: black;
}

.main-banner .comedien {
    font-style: italic;
    color: black;
}

.container {
    padding-left: 0px; /* Ajustez cette valeur selon vos besoins */
    padding-right: 10px; /* Ajustez cette valeur selon vos besoins */
    max-width: 100%; /* Supprimez la largeur maximale par défaut */
}
